<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

<!--     {% include header.html %} -->

    <div class="page-content">

      <div class="wrapper">

<!--         <div class="page-right">
          {{ content }}
        </div>

        <div class="page-left">
          <div id="content">
            <div>
              <i class="fa fa-list-ul" aria-hidden="true">&nbsp;Content</i>
            </div>
          </div>
          <div id="recently">
            <div>
              <i class="fa fa-edit" aria-hidden="true">&nbsp;Recently Posts</i>
            </div>
          </div>
          <div id="categories">
            <div>
              <i class="fa fa-th-list" aria-hidden="true">&nbsp;Categories</i>
            </div>
            <ul>
              {% assign sortedCat = site.categories | sort: name %}

              {% for category in sortedCat %}
              <li>
                <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}">
                            <span>
                                {{ category | first }}
                            </span>
                  <span class="amount">{{ category | last | size }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div id="tags">
            <div>
              <i class="fa fa-tags" aria-hidden="true">&nbsp;Tags</i>
            </div>
          </div>
        </div> -->
  <div class="demo-frame">
    <div class="demo-container">
      <input type="text" id="username" placeholder="用户名"><br>
      <input type="text" id="password" placeholder="密码"><br>
      <button type="button" id="btnTrack">开始检测</button>
      <button type="button" id="btnUpload">上传照片</button>
      <video id="video" width="320" height="240" preload autoplay loop muted></video>
<!--       <canvas id="canvas" width="320" height="240"></canvas> -->
      <img id="image" width="320" height="240" src="" alt="没有检测到人脸">
      <img id="image1" width="320" height="240" src="" alt="没有检测到人脸">
    </div>
  </div>

      </div>

    </div>

<!--     {% include footer.html %} -->

<!--     <script src="{{ '/js/main.js' | prepend:site.baseurl }}"></script>
    <script src="{{ '/js/content.js' | prepend:site.baseurl }}"></script> -->
    
      <script>
        var _videoWidth = 0;
    var _videoHeight = 0;
    var canvas = null;
        var isTracking = false;
        var trackerTask;
        var startTrack;
        var imageIndex = -1;
    window.onload = function() {
      var video = document.getElementById('video');
      var canvas = document.createElement("canvas");
      var btnTrack = document.getElementById("btnTrack");
      var btnUpload = document.getElementById("btnUpload");
      var context = canvas.getContext('2d');
      var image = document.getElementById('image');
      var image1 = document.getElementById('image1');
      var username = document.getElementById('username');
      var password = document.getElementById('password');
      
      var tracker = new tracking.ObjectTracker('face');
      tracker.setInitialScale(4);
      tracker.setStepSize(2);
      tracker.setEdgesDensity(0.1);

      trackerTask = tracking.track('#video', tracker, { camera: true });
      startTrack = function(event) {
        context.clearRect(0, 0, canvas.width, canvas.height);
        if (event.data.length === 0) {
           // No colors were detected in this frame.
          if (imageIndex==0) {
            image.src = "";
          } else {
            image1.src = "";
          }
          return;
        } 
        
        event.data.forEach(function(rect) {
          canvas.width = _videoWidth = video.videoWidth;
          canvas.height = _videoHeight = video.videoHeight;
          image.width = _videoWidth/3;
          image.height = _videoHeight/3;
          image1.width = _videoWidth/3;
          image1.height = _videoHeight/3;
          console.log("videoWidth:"+canvas.width);
          console.log("videoHeight:"+canvas.height);
          
          context.strokeStyle = '#a64ceb';
          context.strokeRect(rect.x, rect.y, rect.width, rect.height);
//           context.font = '11px Helvetica';
//           context.fillStyle = "#fff";
//           context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11);
//           context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22);
//           alert("x:"+rect.x);
//           alert("y:"+rect.y);
//           alert("w:"+rect.width);
//           alert("h:"+rect.height);
//           alert("ww:"+video.width);
//           alert("hh:"+video.height);
//           alert("vw:"+video.videoWidth);
//           alert("vh:"+video.videoHeight);
          context.drawImage(video, 0, 0, _videoWidth, _videoHeight, 0, 0, _videoWidth, _videoHeight);
          var snapData = canvas.toDataURL('image/jpeg',0.6);
//           console.log(snapData);
          var imgSrc = snapData;
          if (imageIndex == 0) {
            image.src = imgSrc;
          } else {
            image1.src = imgSrc;
          }
          context.clearRect(0, 0, canvas.width, canvas.height);
          
        });
        
        stopFunc();
      };
      tracker.on('track', startTrack);
      
      
      
      btnTrack.addEventListener('click', function () {
        if (isTracking) {
           stopFunc();
        } else {
          startFunc();
        }
      });
      btnUpload.addEventListener('click', function () {
        upload();
      });
      
      stopFunc = function() {
        trackerTask.stop();
          btnTrack.innerHTML ="开始检测";
          tracker.removeListener('track', startTrack); 
        isTracking =false;
      };
      startFunc = function() {
        trackerTask.run();
          btnTrack.innerHTML ="停止检测";
          tracker.on('track', startTrack);
        isTracking = true;
        imageIndex++;
      };
      
      stopFunc();
      
      upload = function() {
        $.ajax({
             type: "POST",
             url: "http://47.96.231.229:5000/faceAuth?loginName="+username.value+"&password="+btoa(encodeURI(password.value)),
             data: "image1="+encodeURIComponent(image.src.replace("data:image/jpeg;base64,",""))+"&image2="+encodeURIComponent(image1.src.replace("data:image/jpeg;base64,","")),
             dataType: "application/x-www-form-urlencoded",
             success: function(data){
                         console.log(data);
                         alert(data.responseText);
                      },
              error:function(data,error) {
                console.log(data);
                alert(data.responseText);
              }
         });
        var a = document.createElement("a");
    a.href = image.src;
    a.download = "image1";
    a.click(); 
        var b = document.createElement("a");
    b.href = image1.src;
    b.download = "image2";
    b.click();  
      };
      
      var gui = new dat.GUI();
      gui.add(tracker, 'edgesDensity', 0.1, 0.5).step(0.01);
      gui.add(tracker, 'initialScale', 1.0, 10.0).step(0.1);
      gui.add(tracker, 'stepSize', 1, 5).step(0.1);
    };
  </script>
  </body>

</html>
