<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">

      <div class="wrapper">

        <div class="page-right">
          {{ content }}
        </div>

        <div class="page-left">
          <div id="content">
            <div>
              <i class="fa fa-list-ul" aria-hidden="true">&nbsp;Content</i>
            </div>
          </div>
          <div id="recently">
            <div>
              <i class="fa fa-edit" aria-hidden="true">&nbsp;Recently Posts</i>
            </div>
          </div>
          <div id="categories">
            <div>
              <i class="fa fa-th-list" aria-hidden="true">&nbsp;Categories</i>
            </div>
            <ul>
              {% assign sortedCat = site.categories | sort: name %}

              {% for category in sortedCat %}
              <li>
                <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}">
                            <span>
                                {{ category | first }}
                            </span>
                  <span class="amount">{{ category | last | size }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div id="tags">
            <div>
              <i class="fa fa-tags" aria-hidden="true">&nbsp;Tags</i>
            </div>
          </div>
        </div>

      </div>

    </div>

    {% include footer.html %}

    <script src="{{ '/js/main.js' | prepend:site.baseurl }}"></script>
    <script src="{{ '/js/content.js' | prepend:site.baseurl }}"></script>
  </body>

</html>
