<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

<!--     {% include header.html %} -->

    <div class="page-content">

      <div class="wrapper">

<!--         <div class="page-right">
          {{ content }}
        </div>

        <div class="page-left">
          <div id="content">
            <div>
              <i class="fa fa-list-ul" aria-hidden="true">&nbsp;Content</i>
            </div>
          </div>
          <div id="recently">
            <div>
              <i class="fa fa-edit" aria-hidden="true">&nbsp;Recently Posts</i>
            </div>
          </div>
          <div id="categories">
            <div>
              <i class="fa fa-th-list" aria-hidden="true">&nbsp;Categories</i>
            </div>
            <ul>
              {% assign sortedCat = site.categories | sort: name %}

              {% for category in sortedCat %}
              <li>
                <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}">
                            <span>
                                {{ category | first }}
                            </span>
                  <span class="amount">{{ category | last | size }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div id="tags">
            <div>
              <i class="fa fa-tags" aria-hidden="true">&nbsp;Tags</i>
            </div>
          </div>
        </div> -->
  <div class="demo-frame">
    <div class="demo-container">
      <video id="video" width="320" height="240" preload autoplay loop muted></video>
<!--       <canvas id="canvas" width="320" height="240"></canvas> -->
      <img id="image" width="320" height="240" src="" alt="tracked image">
    </div>
  </div>

      </div>

    </div>

<!--     {% include footer.html %} -->

<!--     <script src="{{ '/js/main.js' | prepend:site.baseurl }}"></script>
    <script src="{{ '/js/content.js' | prepend:site.baseurl }}"></script> -->
    
      <script>
        var _videoWidth = 0;
    var _videoHeight = 0;
    var canvas = null;
    window.onload = function() {
      var video = document.getElementById('video');
      var canvas = document.createElement("canvas");
      var context = canvas.getContext('2d');
      var image = document.getElementById('image');

      
      var tracker = new tracking.ObjectTracker('face');
      tracker.setInitialScale(4);
      tracker.setStepSize(2);
      tracker.setEdgesDensity(0.1);

      tracking.track('#video', tracker, { camera: true });
      
      tracker.on('track', function(event) {
        context.clearRect(0, 0, canvas.width, canvas.height);
        if (event.data.length === 0) {
           // No colors were detected in this frame.
          image.src = "";
          return;
        } 
        
        event.data.forEach(function(rect) {
          canvas.width = _videoWidth = video.videoWidth;
          canvas.height = _videoHeight = video.videoHeight;
          image.width = _videoWidth/2;
          image.height = _videoHeight/2;
          
          context.strokeStyle = '#a64ceb';
          context.strokeRect(rect.x, rect.y, rect.width, rect.height);
//           context.font = '11px Helvetica';
//           context.fillStyle = "#fff";
//           context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11);
//           context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22);
//           alert("x:"+rect.x);
//           alert("y:"+rect.y);
//           alert("w:"+rect.width);
//           alert("h:"+rect.height);
//           alert("ww:"+video.width);
//           alert("hh:"+video.height);
//           alert("vw:"+video.videoWidth);
//           alert("vh:"+video.videoHeight);
          context.drawImage(video, 0, 0, _videoHeight, _videoHeight, 0, 0, _videoHeight, _videoHeight);
          var snapData = canvas.toDataURL('image/png');
          var imgSrc = "data:image/png;" + snapData;
          image.src = imgSrc;
          context.clearRect(0, 0, canvas.width, canvas.height);
        });
      });

      var gui = new dat.GUI();
      gui.add(tracker, 'edgesDensity', 0.1, 0.5).step(0.01);
      gui.add(tracker, 'initialScale', 1.0, 10.0).step(0.1);
      gui.add(tracker, 'stepSize', 1, 5).step(0.1);
    };
  </script>
  </body>

</html>
